<style>
    h1{color:red;}
</style>

<h1>Error Deleting Product.</h1>

<h2><%= pid %> is currently in stores and cannot be deleted.</h2>

<!-- Return to Products -->
<a href="/products">Back to Products</a>
<br/>
<!-- Return to home page-->
<a href="/">Home</a>