<h1>Add Store</h1>

<form action="/stores/add" method="POST">

    <!-- Store ID -->
    <label>Store ID</label>
    <input type="text" id="sid" name="sid" required/>
    <br/>
    <!-- Location -->
    <label>Location</label>
    <input type="text" id="location" name="location" required/>
    <br/>
    <!-- Manager ID -->
    <label>Manager ID</label>
    <input type="text" id="mgrid" name="mgrid"/>
    <br/>
    <button type="submit">Add Store</button>
</form>

<!--Return to the Store Page-->
<a href="/stores">Cancel</a>