<h1>Stores</h1>

<style>
    table, th, td {
      border:1px solid black;
    }
</style>

<p>To-Do: "Add Store" button here</p>
<table style="width: 50%">
    <!-- Titles -->
    <tr>
        <th>SID</th>
        <th>Location</th>
        <th>Manager ID</th>
        <th>Action</th>
    </tr>
    <!-- Table Entries. For every Store in the SQL DB, add a new row with the info of that store -->
    <% allStores.forEach((res) => { %>
        <tr>
            <td><%= res.sid %></td>
            <td><%= res.sid %></td>
            <td><%= res.sid %></td>
            <td>To-Do</td>
        </tr>
    <% }) %>
</table>

<!-- Return to home page-->
<a href="/">Home</a>